.father{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 7px;
    background-color: aliceblue;
    box-shadow: 1px 5px 20px aquamarine;
    color: rgb(46, 46, 46);
    text-shadow: 2px 2px 7px rgb(93, 93, 181);
}

.father h1{
    margin: 0;
}